---
import Layout from '../layouts/Layout.astro';
import SpotifyPlaylist from '../components/SpotifyPlaylist.astro';
import EmailList from '../components/EmailList.jsx';


---

<Layout title="Lost In Found">
	<main>
		<div class="page-wrapper">
			<div class="left-gutter"></div>
			<div class="content">
				<div class="spotify-list">
					<h2 class="top-heading heading">CURRENT PLAYLIST</h2>
					<SpotifyPlaylist />
					<!-- <a href="https://open.spotify.com/playlist/6ECGSxydjs5TWmWLI11UmQ?go=1&sp_cid=e98ed6b71b65251a637292bc3be8dd15&utm_source=embed_player_v&utm_medium=desktop">Play on Spotify</a><span>|</span> -->
					<a href="https://open.spotify.com/playlist/6ECGSxydjs5TWmWLI11UmQ?go=1&sp_cid=e98ed6b71b65251a637292bc3be8dd15&utm_source=embed_player_v&utm_medium=desktop">Follow on Spotify</a>
				</div>
				
					
					<div class="about">
						<h2 class="heading">WHAT IS LOST IN FOUND?</h2>
						<p>Lost in Found is a modern mixtape.  It is a map of my musical meanderings.  With so many tracks available at our fingertips because of streaming services, it can sometimes feel overwhelming with what to listen to. A lot of the time you will probably just throw on some algorithmic playlist or maybe one of your own with your “Oldies but Goldies”.</p>
						
						<p>These songs aren’t all necessarily new, or from up and coming artists.  They are just songs I have discovered, or rediscovered, during the month and have been listening to on repeat.  I want to share these with you. I have unfortunately forgotten more music than I remember, and with technology at the state it is in, that shouldn’t happen anymore. So while this aims to be a mixtape to maybe pique your interest in a new artist or genre, it’s a musical journal for me.  So I can look back and remember what I was listening to.</p>
					</div>
					
					
				
				<EmailList client:visible/>
			</div>
		</div>
		<div class="right-gutter"></div>
		</main>
	</Layout>
	
	<style>
		
	a {
		text-decoration: none;
		display: block;
	}

	.page-wrapper {
		display: grid;
		grid-template-columns: 2fr 5fr 2fr;
		/* background: -webkit-linear-gradient(#dd7487, #A335AB); */
		background: #151718
	}
	.content * + * {
		margin-block: 1vh;
	}

	.content {
		color: #e771f0;
		
	}
	.content, .spotify-list, .about-wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	
	.spotify-list {
		width: 100%;
	}


	
	.about p {
		font-size: 1.5rem;
		line-height: 1.25;
		padding-inline: 10px;
	}
</style>
