---
import Layout from '../layouts/Layout.astro';
import SpotifyPlaylist from '../components/SpotifyPlaylist.astro';
import EmailList from '../components/EmailList.jsx';


---

<Layout title="Lost In Found">
	<main>
		<div class="page-wrapper">
			<div class="left-gutter"></div>
			<div class="content">
				<div class="spotify-list">
					<h2 class="top-heading heading">CURRENT PLAYLIST</h2>
					<SpotifyPlaylist />
					<!-- <a href="https://open.spotify.com/playlist/6ECGSxydjs5TWmWLI11UmQ?go=1&sp_cid=e98ed6b71b65251a637292bc3be8dd15&utm_source=embed_player_v&utm_medium=desktop">Play on Spotify</a><span>|</span> -->
					<a href="https://open.spotify.com/playlist/6ECGSxydjs5TWmWLI11UmQ?go=1&sp_cid=e98ed6b71b65251a637292bc3be8dd15&utm_source=embed_player_v&utm_medium=desktop">Follow on Spotify</a>
				</div>
				
					
					<div class="about">
						<h2 class="heading">WHAT IS LOST IN FOUND?</h2>
						<p>Lost in Found is a modern mixtape.  It's a map of my musical meanderings. These songs aren’t all necessarily new, or from up and coming artists.  They are just songs I have discovered, or rediscovered, during the month and have been listening to on repeat. I want to share these with you, because more music is better than less music. A lot of the time we find ourselves stuck listening to the same songs, albums, artists, genres, etc. over and over. So let this be a mixtape to pique your interest into something new.</p>
					</div>
					
					
				
				<EmailList client:visible/>
			</div>
			<div class="right-gutter"></div>
		</div>
		</main>
	</Layout>
	
	<style>
		
	a {
		text-decoration: none;
		display: block;
	}

	.page-wrapper {
		display: grid;
		grid-template-columns: 2fr 5fr 2fr;
		/* background: -webkit-linear-gradient(#dd7487, #A335AB); */
		background: #d3dbdf
	}
	.content * + * {
		margin-block: 1vh;
	}

	.content {
		color: black;
		
	}
	.content, .spotify-list, .about-wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	
	.spotify-list {
		width: 100%;
		margin-block: 1vh;
	}

	.about p {
		font-size: 1.5rem;
		/* line-height: 1.25; */
		margin-top: 4vh;
		padding-inline: 10px;
	}

	@media screen and (max-width: 480px) {
		.page-wrapper {
			display: flex;
			flex-direction: column;
		}

		.about p {
			font-size: 1rem;
		}
	}
</style>
