---
export interface Props {
	title: string;
}

import '../../global.css'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<h1 class="site-title"> Lost In Found </h1>
			
		</header>
		<slot />
		<footer>
			<p class="copyright">&copy; <span><a href="https://frankmarra.dev" target="_blank">Frank Marra</a></span> 2023</p>
		</footer>
	</body>
</html>
<style is:global>
	@font-face {
		font-family:Linebeam;
		src: url('/fonts/Linebeam.ttf');
	}

	@font-face {
		font-family: Astrud;
		src: url('/fonts/Astrud.ttf');
	}

	@font-face {
		font-family: MonteCarlo;
		src: url('/fonts/MonteCarlo.ttf');
	}

	@font-face {
		font-family: negat;
		src: url('/fonts/negat___.ttf');
	}

	@font-face {
		font-family: streetcred;
		src: url('/fonts/street cred.ttf');
	}

	@font-face {
		font-family: ethereal;
		src: url('/fonts/EtherealBlack-BWrW8.ttf')
	}

	@font-face {
		font-family: typewriter;
		src: url('/fonts/Mom差___.ttf')
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

	
	html {
		font-family: system-ui, sans-serif;
		
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.site-title {
		text-align: center;
	}

	header, footer {
		color: #f2f2f2;
		background-color: black;
		text-align: center;	
		position: sticky;
		width: 100%;
		
		padding: 1vh 0;
	}

	header {
		top: 0;
		
	}
	footer {
	
		bottom: 0;
	}

	header h1 {
		/* font-family: 'Linebeam'; */
		/* font-family: 'Astrud'; */
		/* font-family: 'negat'; */
		/* font-family: 'ethereal'; */
		/* font-family: 'streetcred'; */
		font-family: 'typewriter';
		font-size: 6rem;
		letter-spacing: .8vw;		
		background: -webkit-linear-gradient(#e771f0, rgb(101, 26, 171));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media screen and (max-width: 480px) {
		header, footer {
			position: relative;
		}

		header h1 {
			font-size: 2rem;
		}

		.heading {
			font-size: 1.25rem;
		}
		.email-signup {
			display: flex;
			flex-direction: column;
		}
		.mailing-copy {
			font-size: 1rem;
		}
		
	}

</style>
