---
export interface Props {
	title: string;
}

import '../../global.css'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<h1 class="site-title"> Lost In Found </h1>
			
		</header>
		<slot />
		<footer>
			<p class="copyright">&copy; Frank Marra 2023</p>
		</footer>
	</body>
</html>
<style is:global>
	@font-face {
		font-family:Linebeam;
		src: url('/fonts/Linebeam.ttf');
	}

	@font-face {
		font-family: Astrud;
		src: url('/fonts/Astrud.ttf');
	}

	@font-face {
		font-family: MonteCarlo;
		src: url('/fonts/MonteCarlo.ttf');
	}

	@font-face {
		font-family: negat;
		src: url('/fonts/negat___.ttf');
	}

	@font-face {
		font-family: streetcred;
		src: url('/fonts/street cred.ttf');
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

	
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
		
		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.site-title {
		text-align: center;
	}

	header, footer {
		color: #f2f2f2;
		background-color: black;
		text-align: center;	
		
		padding: 1vh 0;
	}

	header {
		position: sticky;
		width: 100%;
		top: 0;
		
	}
	footer {
		position:fixed;
		width: 100%;
		bottom: 0;
	}

	header h1 {
		font-family: 'Linebeam';
		/* font-family: 'Astrud'; */
		/* font-family: 'negat'; */
		
		/* font-family: 'streetcred'; */
		font-size: 6.5rem;
		letter-spacing: .8vw;		
		background: -webkit-linear-gradient(rgb(226, 85, 24), rgb(133, 34, 225));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}


</style>
